/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* GLOBAL */
body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #00ffcc;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #00ffcc;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #00ffcc;
}

/* SKILLS */
.skills ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skills li {
    background: #111;
    padding: 10px 15px;
    border-radius: 5px;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.project-card {
    background: #111;
    padding: 20px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
}